<h2>Companies List</h2>

<!-- Create Company Button -->
<div class="create-company-container">
  <%= link_to 'Create Company', new_company_path, class: 'btn-create' %>
</div>

<% if @companies.present? %>
  <div class="company-list">
    <% @companies.each do |company| %>
      <div class="company-tile">
        <h3><%= company.name %></h3>
        <p>Number of Employees: <%= company.employee_count %></p>
        <p>Total Reimbursement: <%= number_to_currency(company.reimbursement_total, unit: '₹', delimiter: ',', format: "%u %n") %></p>

        <!-- Show Employees Link -->
        <%= link_to 'Show Employees', company_employees_path(company), class: 'btn-showcom' %> <br>

        <!-- Edit and Delete Buttons -->
        <div class="btn-container">
          <%= link_to 'Edit', edit_company_path(company), class: 'btn-edit' %>
          <%= form_with url: company_path(company), method: :delete, class: 'inline-form', data: { confirm: 'Are you sure you want to delete this company?' } do %>
               <%= button_tag 'Delete', class: 'btn-delete' %>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No companies available.</p>
<% end %>
