<h1><%= action_name.capitalize %> Reimbursement Claim</h1>

<%= form_with model: [@company, @employee, @reimbursement_claim], local: true do |form| %>
  <div>
    <%= form.label :purpose %>
    <%= form.text_field :purpose %>
  </div>
  <div>
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>
  <div>
    <%= form.label :date_of_expenditure %>
    <%= form.date_field :date_of_expenditure %>
  </div>
  <div>
     <%= form.label :receipts %>
     <%= form.file_field :receipts, multiple: true %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', company_employee_reimbursement_claims_path(@company, @employee) %>
